'context-menu':
  'atom-text-editor[data-grammar~=python]': [
    {
      'label': 'Python'
      'submenu': [
        { 'label': 'Go To Definition', 'command': 'autocomplete-python:go-to-definition' }
        { 'label': 'Show Usages', 'command': 'autocomplete-python:show-usages' }
        { 'label': 'Rename…', 'command': 'autocomplete-python:rename' }
        { 'label': 'Override Method…', 'command': 'autocomplete-python:override-method' }
        { 'label': 'Complete Arguments', 'command': 'autocomplete-python:complete-arguments' }
      ]
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Autocomplete Python'
        'submenu': [
          { 'label': 'Select Interpreter…', 'command': 'autocomplete-python:select-interpreter' }
          { 'label': 'Show Environment', 'command': 'autocomplete-python:show-environment' }
          { 'label': 'Restart Daemon', 'command': 'autocomplete-python:restart-daemon' }
          { 'type': 'separator' }
          { 'label': 'Go To Definition', 'command': 'autocomplete-python:go-to-definition' }
          { 'label': 'Show Usages', 'command': 'autocomplete-python:show-usages' }
          { 'label': 'Rename…', 'command': 'autocomplete-python:rename' }
          { 'label': 'Override Method…', 'command': 'autocomplete-python:override-method' }
        ]
      }
    ]
  }
]
